.venv/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
example.py
lms.db
/Εκφώνηση Ασκησης.txt
/Πραγματα που πρεπει να φτιάξω.txt
lectures/course_3/*.pdf
!lectures/course_3/.gitkeep
lectures/course_4/*.pdf
!lectures/course_4/.gitkeep
!lectures/.gitkeep